/**
 * @file account.scss
 * @desc 我的账户样式
 * @author wangyong(1223427693@qq.com)
 */
@mixin normalBackgroundStyle {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
}

@mixin commonInputTextStyle {
    width: 240px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 7px 14px;
    font-size: 14px;
    color: #777;

    &:focus {
        border-color: #09c;
    }

    &[disabled] {
        color: #bbb;
        background: #eee;
    }
}

@mixin inputGroupStyle {
    margin-top: 15px;
    height: 40px;

    .label {
        display: inline-block;
        width: 160px;
        text-align: right;
        font-size: 14px;
        color: #777;
        font-weight: normal;
        margin-right: 8px;
    }

    .input-text {
        @include commonInputTextStyle();
    }

    .btn {
        @include commonBtnStyle(); 
        margin-left: 10px;
    }

    .radio-group {
        font-size: 14px;
        color: #777;
        margin-right: 10px;
        .radio {
            margin-right: 5px;
        }
    }
}

// 按钮通用样式
@mixin commonBtnStyle {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);
    font-weight: 600;
    border-radius: 4px;
    background-color: #09c;
    transition: background-color .3s ease;

    &:hover {
        background-color: #0be;
    }

    .fa {
        font-size: 18px;
        margin-right: 8px;
    }

    &.disabled {
        background: #999;
    }
}

@mixin btnGroupStyle {
    margin-top: 15px;

    .btn {
        @include commonBtnStyle();
    }

    .btn-save {
        float: right;
    }
}

// 表格通用样式
@mixin commonTableStyle {
    width: 100%;

    th {
        height: 53px;
        background-color: #263342;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        // padding: 14px 21px;

        &:first-child {
            border-radius: 5px 0 0 0;
        }

        &:last-child {
            border-radius: 0 5px 0 0;
        }
    }

    tbody tr {
        border-bottom: 1px solid #ccc;
    }

    tbody tr:last-child {
        border-bottom: none;

        td {
            box-shadow: 0 2px 0 rgba(0,0,0,.07);
        }

        td:first-child {
            border-radius: 0 0 0 5px;
        }
        td:last-child {
            border-radius: 0 0 5px 0;
        }
    }

    td {
        padding: 14px 21px;
        font-size: 14px;
        color: #777;
        font-weight: normal;
        background-color: #fff;
        text-align: center;
    }
}

.account-container {
    min-height: 100%;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}

.account-section {
    width: 1080px;
    margin: 0 auto;
    padding-top: 50px;
}

.account-section .account-nav {
    padding: 0 10px;
    .nav-item {
        display: inline-block;
        margin-right: 20px;

        a {
            display: block;
            font-weight: 300;
            font-size: 24px;
            color: #777;
            opacity: .7;
            transition: opacity .3s ease;
        }
        &:hover a {
            opacity: 1;
        }
        &.active a {
            opacity: 1;
            font-size: 34px;
            color: #444;
        }
    }
}

// Account下Navs组件样式
.account-nav-container {
    .nav-aside {
        float: left;
        width: 240px;
        background-color: #fff;
        padding: 5px 0;
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0,0,0,.07);

        .nav-item a {
            display: block;
            position: relative;
            height: 40px;
            line-height: 40px;
            color: #444;
            padding: 0 20px;
            font-size: 18px;
            font-weight: normal;
        }

        .nav-item.active a {
            background-color: #09c;
            color: #fff;

            &:after {
                content: '';
                position: absolute;
                width: 28px;
                height: 28px;
                background-color: #09c;
                top: 0;
                bottom: 0;
                right: -14px;
                margin: auto;
                transform: rotate(45deg);
            }
        }
    }

    .nav-content {
        margin-left: 280px;
        
        .info {
            font-size: 12px;
        }
    }
}

// 账户详情修改
.account-section .account-details {
    margin-top: 20px;
    padding: 0 10px;

    .account-details-basic {
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0,0,0,.07);
        
        .avatar {
            float: left;
            width: 136px;
            height: 136px;
            @include normalBackgroundStyle;
            background-image: url(https://dskhvldhwok3h.cloudfront.net/image/upload/t_displaypic_big/v1491656964/avatars/58c760141e7d2a107c000008.jpg);
        }

        .info {
            margin-left: 165px;

            .display-name {
                font-size: 28px;
                color: #444;
                font-weight: 700;
            }

            .email, .username, .reg-time {
                font-size: 14px;
                margin-top: 6px;
                color: #777;
                font-weight: normal;
            }
        }
    }

    .account-details-edit {
        margin-top: 30px;

        .content-title {
            color: #444;
            font-size: 28px;
            font-weight: 300;
        }

        .detail-title {
            color: #444;
            font-size: 21px;
            font-weight: 300;
            margin-top: 15px;
        }

        .detail-info {
            margin-top: 15px;
            color: #777;
            font-size: 14px;
            font-weight: normal;
        }

        .detail-group {
            @include inputGroupStyle;
        }

        .btn-group {
            @include btnGroupStyle;
        }
    }
}

// 我的订单
.account-section .account-orders {
    margin-top: 28px;
    padding: 0 10px;

    .order-table {
        @include commonTableStyle();

        tr.active td {
            vertical-align: top;
        }
        .abstract {
            height: 40px;
            line-height: 40px;

            &.nopay {
                line-height: normal;
            }
        }

        .detail {
            .detail-head {
                font-size: 12px;
                padding-top: 10px;
                font-weight: bold;
            } 
            .detail-body {
                margin-top: 10px;
            }
        }

        .game {
            .img {
                display: inline-block;
                width: 60px;
                height: 60px;
                @include normalBackgroundStyle();
                background-image: url(../../static/game-card-bg.jpg);
            }
        }

        .price-count {
            .account, .price {
                display: inline-block;
                width: 50%;
            }
        }
        
        .actions .btn {
            @include commonBtnStyle();
            width: 100px;
        }

        .actions .service-create {
            margin-left: 10px;
        }
    }

    .order-pagination {
        margin-top: 10px;
    }
}

// 查看订单key
.order-keys {
    .order-keys-table table {
        @include commonTableStyle();
    }

    .order-keys-pagination {
        margin-top: 15px;
    }
}

// 我的游戏
.account-section .account-games {
    margin-top: 28px;

    .game-list-item {
        float: left;
        width: 340px;
        height: 75px;
        margin: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0,0,0,.07);

        .game-img {
            float: left;
            width: 160px;
            height: 100%;
            border-radius: 5px 0 0 5px;
            @include normalBackgroundStyle;
            background-image: url(../../static/game-card-bg.jpg);
            transition: opacity .3s ease;
        }

        &:hover .game-img {
            opacity: .8;
        }

        .game-content {
            padding: 14px 14px 14px 174px;
            font-size: 14px;
            color: #777;
            font-weight: 400;
        }
    }
}

// 销售游戏
.account-section .account-sales {
    margin-top: 28px;

    .content-title {
        color: #444;
        font-size: 28px;
        font-weight: 300;
    }
}

// 销售产品
.account-section .account-sales .sales-product {
    .sales-group {
        @include inputGroupStyle;

        .select-group {
            width: 240px;
            height: 40px;
            outline: none;
            font-size: 14px;
            background: #fff;
            border: 1px solid #ddd;
            color: #777;
        }

        // React Select插件包裹样式
        .react-select-container {
            display: inline-block;
            width: 240px;
            vertical-align: middle;

            .Select-control {
                height: 40px;
            }

            .Select-input {
                height: 40px;
                line-height: 40px;
            }

            .Select-input > input {
                font-size: 14px;
            }

            .Select-placeholder, .Select--single > .Select-control .Select-value {
                font-size: 14px;
                line-height: 40px;
            }

            .has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
                color: #777;
            }

            .Select-menu-outer {
                font-size: 14px;
            }
        }
    }
    
    .textarea-group, .product-keys-group {
        height: auto;
        .label {
            vertical-align: top;
        }
        textarea {
            width: 480px;
            height: 160px;
            line-height: 1.5;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 7px 14px;
            font-size: 14px;
            color: #777;
            resize: none;

            &:focus {
                outline: none;
                border-color: #09c;
            }
        }
    }

    .product-keys-group {
        height: auto;
        
        .keys-length {
            margin-left: 10px;
            font-size: 14px;
            color: #777;
        }

        .key-list {
            margin-top: 10px;
            margin-left: 168px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;

            .key-item {
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                color: #777;
            }
        }
    }
    
    .product-ptype-group, .product-type-group, .product-sale-group {
        line-height: 40px;
        font-size: 14px;
        color: #777;

        .radio-group {
            margin-right: 10px;
            .radio {
                margin-right: 5px;
            }
        }
    }

    .btn-group {
        @include btnGroupStyle;
    }
}

// 修改产品状态
.edit-sale-status {
    .status-group {
        @include inputGroupStyle;
    }
    .btn-group {
        @include btnGroupStyle;
    }
}

// 修改产品价格
.edit-sale-price {
    .price-group {
        @include inputGroupStyle();
    }
    .btn-group {
        @include btnGroupStyle();
    }
}

// 修改产品key
.edit-sale-keys {
    .edit-keys {
        height: 400px;

        .info-nokey {
            font-size: 32px;
            text-align: center;
            line-height: 200px;
        }
    }

    .keys-table {
        @include commonTableStyle();
        margin: 20px 0;
        td:first-child {
            border-left: 1px solid #ccc;
            width: 100px;
        }
        td:last-child {
            border-right: 1px solid #ccc;
        }
        .input-checkbox {
            display: inline-block;
            position: relative;
            width: 15px;
            height: 15px;
            vertical-align: baseline;
        }
        .input-checkbox:checked:after {
            background: #0099cc;
            border-color: transparent;
        }
        .input-checkbox:after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            border: 1px solid #ccc;
        }
    }

    .input-group {
        @include inputGroupStyle();
        height: auto;
        .label {
            vertical-align: top;
        }

        textarea {
            width: 480px;
            height: 160px;
            line-height: 1.5;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 7px 14px;
            font-size: 14px;
            color: #777;
            resize: none;

            &:focus {
                outline: none;
                border-color: #09c;
            }
        }
    }
    .btn-group {
        @include btnGroupStyle();
    }
}

// 正在销售
.account-section .account-sales .sales-onsale {
    .onsale-header {
        margin-top: 15px;

        .toolbar {
            height: 50px;
            padding: 0 10px;
            background-color: #263342;
            border-radius: 5px;
        }

        .search {
            float: left;
            position: relative;
            height: 50px;
            width: 300px;
            
            input {
                position: relative;
                width: 100%;
                height: 40px;
                padding: 0 50px 0 20px;
                margin-top: 5px;
                background-color: #354658;
                color: #fff;
                font-size: 16px;
                border: 1px solid transparent;

                &:focus {
                    border-color: #0099cc;
                }
            }

            .icon {
                    position: absolute;
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    right: 0;
                    top: 0;
                    font-size: 24px;
                    color: rgba(255, 255, 255, 0.5);
                }
        }

        .sort {

        }
    }

    .onsale-main {
        width: 100%;

        .game-onsale {
            position: relative;
            display: block;
            width: 100%;
            height: 100px;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
            
            
            &:hover .game-img {
                opacity: .8;
            }

            .game-img {
                float: left;
                width: 180px;
                height: 100%;
                @include normalBackgroundStyle;
                background-image: url(../../static/game-card-bg.jpg);
                transition: opacity .2s ease;
            }

            .game-content {
                height: 100%;
                margin-left: 190px;
                .title {
                    font-size: 14px;
                    color: #444;
                    font-weight: normal;
                }

                .count {
                    margin-top: 8px;
                    font-size: 14px;
                    color: #bbb;
                    .fa-edit {
                        margin-left: 5px;
                        vertical-align: middle;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }

                .price {
                    margin-top: 8px;
                    font-size: 14px;
                    color: #b23;
                    font-weight: 700;

                    .fa-edit {
                        margin-left: 5px;
                        vertical-align: middle;
                        &:hover {
                            font-weight: bold;
                        }
                    }

                    .market {
                        color: #bbb;
                        margin-left: 10px;
                    }
                }
            }

            .game-status, .game-edit {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 14px;

                .fa-edit {
                    margin-left: 5px;
                    vertical-align: middle;
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// 销售历史记录
.account-section .account-sales .sales-history {
    .history-table {
        @include commonTableStyle();
        margin: 15px 0;

        .btn {
            @include commonBtnStyle();
        }
    }
}

// 销售详情
.sale-history-detail {
    .detail-table {
        @include commonTableStyle();
        margin-bottom: 10px;
    }
}

// 对账单
.account-section .account-sales .sales-bill {
    .bill-table {
        @include commonTableStyle();
        margin: 15px 0;

        tbody {
            .status {
                .btn {
                    margin-left: 10px;
                }
            }
        }
        .btn {
            @include commonBtnStyle();
        }
    }
}

// 提现
.account-section .account-sales .sales-withdraw {
    .withdraw-header {
        margin: 15px 0;
    }

    // 账户余额详情
    .cash-detail {
        height: 160px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);

        .price-label {
            font-size: 16px;
            font-weight: 500;
        }

        .price-detail {
            margin-top: 10px;
            font-size: 28px;
            font-weight: 700;
            color: #b23;
        }

        .balance {
            width: 50%;
            height: 100%;
            float: left;

            .balance-detail {
                width: 50%;
                float: left;
            }

            .btn-group {
                width: 50%;
                float: left;
                margin-top: 30px;
                .btn {
                    @include commonBtnStyle();
                    width: 100px;
                }

                .btn-withdraw {
                    margin-left: 15px;
                }
            }
        }

        .income {
            width: 25%;
            height: 100%;
            float: left;
        }

        .lock {
            width: 25%;
            height: 100%;
            float: left;
        }
    }

    // 提现详情
    .withdraw-detial {
        margin: 15px 0;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);

        .input-group {
            label {
                display: inline-block;
                width: 80px;
                text-align: right;
                font-size: 14px;
                color: #777;
                font-weight: normal;
                margin-right: 8px;
            }

            input {
                @include commonInputTextStyle();
            }
        }

        .type-group {
            margin-top: 15px;
            font-size: 14px;
            color: #777;
            font-weight: normal;

            .label {
                display: inline-block;
                width: 80px;
                text-align: right;
                margin-right: 8px;
            }
        }

        .type-detail-group {
            // 提现类型
            .method {
                margin-top: 15px;
                font-size: 14px;
                color: #777;
                font-weight: normal;

                .label {
                    display: inline-block;
                    float: left;
                    width: 80px;
                    margin-right: 8px;
                    text-align: right;
                }

                .options {
                    float: left;
                }
            }

            // 提交按钮
            .btn-group {
                margin-top: 15px;

                .btn {
                    margin-left: 90px;
                    @include commonBtnStyle();
                    width: 100px;
                }
            }

            .type-bank {
                .bank {
                    margin-top: 15px;
                    .label {
                        display: inline-block;
                        width: 80px;
                        margin-right: 8px;
                    }

                    select {
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        height: 40px;
                        line-height: 40px;
                        outline: none;
                    }
                    input {
                        @include commonInputTextStyle();
                    }

                    .warning {
                        color: #c66;
                        font-size: 12px;
                        padding-left: 90px;
                        margin-top: 5px;
                    }
                }
            }

            .type-alipay {
                .alipay {
                    margin-top: 15px;
                    .label {
                        display: inline-block;
                        width: 80px;
                        margin-right: 8px;
                    }

                    input {
                        @include commonInputTextStyle();
                    }
                }
            }
        }
    }

    // 提现记录
    .withdraw-history {
        margin-top: 15px;
        @include commonTableStyle();
    }
}

// 客服中心
.account-section .account-services {
    margin-top: 30px;
    .content-title {
        color: #444;
        font-size: 28px;
        font-weight: 300;
    }

    // 创建客服单
    .services-create {
        .services-group {
            @include inputGroupStyle();
        }

        .textarea-group {
            height: auto;

            label {
                vertical-align: top;
            }

            textarea {
                width: 480px;
                height: 160px;
                line-height: 1.5;
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 7px 14px;
                font-size: 14px;
                color: #777;
                resize: none;

                &:focus {
                    outline: none;
                    border-color: #09c;
                }
            }
        }

        .btn-save {
            @include commonBtnStyle();
            float: right;
        }
    }

    // 处理中心
    .services-deals {
        .deals-table {
            margin-top: 15px;
            @include commonTableStyle();
        }
    }
}