/**
 * @file share.scss
 * @desc 分享样式
 * @author wangyong(1223427693@qq.com)
 */
 .share {
     margin-bottom: 60px;
     .share-title {
         color: #777;
         font-weight: 300;
         font-size: 28px;
     }
 }
 